body{
    margin: 0;
    height: 100vh;
    background-image: url(CSS.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Arial,sans-serif;

}

nav{
    background-color:chocolate;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li  {
display: inline;
margin: 0 15px;
}

nav ul li a {
    color:aliceblue;
}

.main-title{
    color:black;
    text-align: center;
    position: relative;
    top: 50px;
    font-family:monospace, Arial, sans-serif;
}

.join-button{
    position: relative;
    top:400px;
    display:block;
    margin:auto;
    padding: 5px 15px; 
    background:coral;
    color:aliceblue;
    border:none ;
    border-radius: 25px;
    cursor: pointer;
}

@media(max-width: 600px)
{
    .main-title{
        font-size: 1.5rem;
    }

    .join-button{
        width:70%
    }
}
